.navBrand{
    display: flex;

    align-items: center;
    justify-content: center;
}

.navLinks {
    text-decoration: none;
    list-style: none;

    display: flex;
    text-align: center;
    justify-content: center;

    gap: 25px;

    margin-left: 30px;

    flex-wrap: wrap;
}

.navLink {
    flex: 1 1 auto;
    text-align: center;
    text-transform: uppercase;
    font-size: 0.9rem;
    font-weight: 600;
    color: var(--grey-medium);

    margin: auto 0px auto 0px;
}

@media (min-width: 768px) {
    .burgerSection {
      padding-bottom: 30px;
    }
}

@media (max-width: 767px) {
    .burgerSection {
        display: flex;
        align-items: center;

        width: 100vw;

        box-shadow: 0px 5px 20px rgba(0,0,0,0.1);
    }
    .burgerIcon {
        padding-left: '10px';
        padding: '0px';

        width: '20vw';
        display: 'flex';
        align-items: 'center';
        justify-content: 'center';

        color: grey;
    }
    .nav {
        position: fixed;
        width: 100vw;
        justify-content: center;
    }
    .navBrand {
        align-items: center;
        justify-content: center;

        margin-left: 0vw;

        margin-top: 20px;
        margin-bottom: 20px;

        width: 100vw;

    }
    .nav, .navLinks {
        flex-direction: column;
        padding-bottom: 20px;

        justify-content: center;
        align-items: center;
    }

    .navLinks {
        padding-top: 30px;
        color: var(--grey-dark);
        font-size: 1.05rem;
    }
}

@keyframes fadeOut {
    0% { opacity: 1; }
    100% { opacity: 0; }
}

.fadeOut {
    animation-name: fadeOut;
    animation-duration: 1.35;
    transition-timing-function: ease-in-out;
}

@keyframes slideDown {
    0% {
        transform: translateY(-100px);
    }
    100% {
        transform: translateY(0px);
    }
}

.slideDown {
    animation-name: slideDown;
    animation-duration: 1s;
    transition-timing-function: ease-in-out;
}